# Deps and builds
node_modules/
dist/
.wrangler/
web-ext-artifacts/
*.tsbuildinfo
**/.output
**/.wxt

# Secrets
.*env*
!.env.example

# Docs
docs/superpowers
docs/tasks

# Misc
.idea
.claude/*
!.claude/skills
!.claude/agents
!.claude/commands
*.log
.DS_Store
.source-stage/
